* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* Hero Section Styling */

/*background: linear-gradient(to top right, #4285f4, #3367d6, #2a56c6, #1a45a3);*/
.heroSection {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/mourad2.jpg");
    background-position: center 5%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding: 7rem;
}

.heroText, .heroHeadline {
    color: #FFFFFF;
    text-align: center;
}

.heroText {
    font-size: clamp(1rem, 1.25rem, 1.5rem);  
}

.heroHeadline {
    font-size: clamp(1.5rem, 4vw + 1rem, 4rem);  
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Event Container */
.eventContainer {
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    align-items: center;
    gap: 50px;
    justify-content: center;
}

/* Form Container */
#myForm {
    background: #fff;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

/* Form Header */
.formHeader {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Label Styles */
label {
    font-size: 14px;
    font-weight: 600;
    color: #333;
    display: block;
    margin-bottom: 4px;
}

/* Input and Select */
input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 12px;
    margin: 3px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Placeholder */
input::placeholder {
    color: #aaa;
}

/* Error Messages */
.error-message {
    font-size: 14px;
    color: red;
    display: none;
}

/* Button */
button[type="submit"] {
    width: 100%;
    padding: 14px;
    background:#1877F2;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    transition: 0.1s ease-out;
}

button[type="submit"]:hover {
    background: #1877F2ed;
}

#submit-text {
    display: inline-block;
}

/** MyForm button loader animation **/
.loader {
    width: 25px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side, white 90%, #1877F2) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
    transition: 0.1s ease-out;
}
button[type="submit"]:hover .loader{
    background: radial-gradient(circle closest-side, white 90%, #1877F2ed) 0/calc(100%/3) 100% space;
}
@keyframes l1 {to {clip-path: inset(0 -34% 0 0)}}

/* Alert */
.swal-button--confirm {
    background: #1877F2;;
    color: #fff; /* White text */
}

.swal-button--confirm:hover {
    background: #1877F2ed !important; 
}

.swal-text {
    font-size: 1.075rem;
    color: black;
    text-align: center;
}

/* Countdown */
.countdown-container {
    text-align: center;
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time {
    font-size: 4rem;
    font-weight: bold;
    color: #1877F2;
    animation: fadeIn 1s ease-in-out;
}

.label {
    font-size: 1.2rem;
    color: #1877F2;
    text-transform: uppercase;
}

.event-message {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-align: start;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Why Us Section */
.why-choose-us {
    padding: 0rem 4rem;
    margin: 3rem 0;
 
    
}

.sectionsHeaders {
    font-size: 2rem;
    color: black; /* Main color */
    margin-bottom: 1rem;
    text-align: center;
    font-size: clamp(1rem, 3vw + 0.75rem, 3rem);
}

.card-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
   
}
.cardImgContainer{
    display:flex; justify-content: center;   background-color: #1877F2;  width: 100%; 
}
.cardImgContainer>img{
    width: 70px;
}
.cardTextContainer{
     display: flex; flex-direction: column; gap: 10px;
}
.cardImgContainer,.cardTextContainer{
    padding: 1rem;
}
.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .3s ease-out;
    gap: 10px;
}
.card:hover{
    transform: translateY(-20px);
}
.card h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #1877F2; /* Main color */
  
}

.card p {
    font-size: 1rem;
    color: #333;
   
}

/* ctaContainer */
.ctaContainer{
    width: 100%; display: flex; justify-content: center; padding:2rem
}
.cta{
    cursor: pointer; font-weight: bold; font-size: large; background-color: #1877F2; width:100%; max-width:500px; text-align: center; padding:15px 0; color:white; outline:none; border:none; transition: 0.1s ease-out;
}
.cta:hover{
    background-color: #1877F2ed;
}
/*about section*/
.aboutSection{
    padding: 7rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("assets/مراد\ صورة.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 3rem 0 0;

}
.InfoSection{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 15px;
   
}
.aboutInfo{
    padding: 20px;
    color:white;
    background-color: #0d3e7d;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;


   
}
.aboutSection>h1{
    font-size: clamp(1rem, 3vw + 0.75rem, 3rem);  
    margin-bottom: 10px;
    color: white;
    text-align: center;
}
.aboutInfo>p{
    font-size: clamp(0.75rem, 1rem, 1.25rem);  
    line-height: 3rem;
}
/*workshop intro*/
.workshopIntro{
    margin:5rem 0; display:flex; flex-direction: column; align-items: center; gap: 30px; text-align: center; padding:0 7rem;
}
/* Media Queries for Hero Section responsiveness */

@media only screen and (min-width: 1440px) {
    .why-choose-us,.aboutSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .card-container {
        
        grid-template-columns: repeat(5, minmax(250px, 1fr));
        max-width: 1440px;
       
    }

    .InfoSection{
        max-width: 1440px;
      
    }
    

}
@media only screen and (max-width: 1280px) {
    .heroSection,.aboutSection {
        padding: 4rem;
    }
    .workshopIntro{
        padding:0 4rem;
    }
}

@media only screen and (max-width: 1024px) {
    .heroSection,.aboutSection {
        padding: 2rem;
    }
    .workshopIntro{
        padding:0 2rem;
    }
    .InfoSection{
        grid-template-columns: repeat(2,1fr);
    }
    .eventContainer {
        flex-direction: column-reverse;
    }
    .why-choose-us {
        padding: 0 2rem;
    }
    
    .sectionsHeaders {
        font-size: 2rem;
    }

    .card-container {
        margin-top: 40px;
        grid-template-columns: 1fr 1fr;
    }

   

    .card h3 {
        font-size: 1.3rem;
    }

    .card p {
        font-size: 0.95rem;
    }
}


@media only screen and (max-width: 640px) {

    input[type="text"],
    input[type="email"],
    select,
    button[type="submit"] {
        padding: 10px;
        font-size: 14px;
    }
 
    .InfoSection{
        grid-template-columns: 1fr;
    }
    .sectionsHeaders {
        font-size: 1.5rem;
    }

    .card-container {
        grid-template-columns: 1fr;
    }


    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 480px) {
    .time {
        font-size: 2.5rem;  
    }

    .label {
        font-size: 0.9rem;  
    }

    .event-message {
        font-size: 1.2rem;  
    }
}

@media only screen and (max-width: 360px) {

    #myForm {
        padding: 20px;
    }

    .formHeader {
        font-size: 20px;
    }

    .time {
        font-size: 3rem;  
    }

    .label {
        font-size: 1rem;  
    }

    .event-message {
        font-size: 1.2rem; 
    }
}


